body {
  width: 100%;
  height: 100%
  text-align: center
  margin: 0 auto
  font-family: Avenir, SansSerif
  color: #292929
  background-color: #ffffff
}

.parallax {
    /* The image used */
    background-image: url("/crema.jpg")

    /* Set a specific height */
    height: 100%

    /* Create the parallax scrolling effect */
    background-repeat: no-repeat
    background-size: cover
  }

@media (min-width: 50em) {

  .parallax {
    background-position: center
  }

  .parallax-img {
    display: none
  }

  .logo img {
    top: 5%
    left: 5%
    position: absolute
    width: 15em
    z-index: 10
  }

  .header {
    min-height: 13em
  }
}

@media (max-width: 50em) and (orientation : landscape) {

  .logo img {
    top: 2%
    left: 2%
    position: absolute
    width: 10em
    z-index: 10
  }

  .parallax-img {
    background-image: url("/crema.png")
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    z-index: -1
    overflow: hidden
  }
}

@media (max-width: 50em) and (orientation: portrait){
  .logo img {
    width: 15em
    z-index: 10
  }

  .parallax-img {
    background-image: url("/crema.png")
    position: fixed
    top: 0px
    left: -50%
    height: 100vh
    z-index: -1
  }
}

.block {
  font-size: 1.2em
  padding: 1em
  opacity: 0.95
}
.logo {
  padding-top: 2em
}
.header {
  padding-top: 1em
}
.footer {
  margin-top: 0.1em
}
.bold {
  font-weight: bold
}
.small {
  font-size: 0.7em
}
.big {
  font-size: 1.5em
  font-weight: bold
}
.fine {
  font-size: 1.1em
}
.icon {
  height: 2em
  vertical-align: middle
  margin: 5px
}

.flags {
  position: absolute
  top: 4px
  left: 2px

  & img {
    height: 20px
    width: 30px
    cursor: pointer
  }
}

.nav{
  margin-right: auto  
  margin-left: auto  
  background-color: #000
  color: #fff
}

.container {
  max-width: 1024px
  margin-left: auto
  margin-right: auto
  padding: 2em
}

.eventdescription {
  padding-left: 15px
}

.event{
  text-align: left
  border-radius: 4px
  box-shadow: 0 0 10px rgba(0,0,0,.095)
  margin-bottom: 20px
  box-sizing: border-box
  transition: transform 200ms cubic-bezier(.374,.019,.035,1.861),-webkit-transform 200ms cubic-bezier(.374,.019,.035,1.861)
}

.event:hover{
  transform: scale(1.035)  
}

.link {
  color: inherit
  text-decoration: none
}

.date {
  text-align: center
}

.content{
  padding-left: 15px
}

.content p.title {
  margin-block-start: 14px
  margin-block-end: 14px
  text-align: center
}

.register {
  text-align: center
}

@media (min-width: 50em) {
  .event {
    padding: 15px 20px
  }

  .register {
    text-align: right
    margin: 0
  }
}

@media (max-width: 50em) {
  .register {
    margin: 15px !important
  }
}